.div_modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(3, 18, 47, 0.70);
}

.div_modal h4 {
    text-align: center;
    font-size: 30px;
}

.div_modal input, .div_modal select , .div_modal textarea {
    background-color: #03122F;
}

.voltar {
    text-align: end;
}

.voltar button{
    text-align: end;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.div_modal section {
    width: 90%;
    max-height: 90%;
    border: 2px solid #6BD1FF;
    background-color: #03122F;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    height: 85%;
    overflow-x: hidden;
}

.div_modal input , .div_modal textarea , .div_modal select {
    border: 2px solid #2271D1;
}

.div__button {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

@media (min-width: 550px) {
    .div_modal section {
        margin-top: 90px;
        width: 70%;
        height: 80%;
    }
    .div_modal form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div__button {
        width: 50%;
        flex-direction: row;
        justify-content: space-between;
    }
}
